table , th , td {
  border:4px solid rgb(0, 0, 0) ;
  border-collapse: collapse;
margin-top: 100px;
margin-left: 290px;
}

tr{
  background-color: rgb(36, 34, 34);
}
td , th {
  color: #b8b3b3;
}




#nav{
margin-left: 20px;


}

#nav ul {
  list-style: none;
}
#nav ul li {
 padding-top: 30px;
}


#fish {
  width: 250px;
  height: 220px;
 float: left;
 padding-right: 40px;
}

#cookieStandForm{

background-color: rgb(8, 8, 8);
margin-left: 200px;
margin-top: 40px;
margin-right: 200px;
margin-top: 40px;
}






#ul {

  list-style: none;
}

#ul li {
  text-align:left;
 
}
label {
  font-family: 'Girassol', cursive;
  color:#f5f5ee ;
font-weight: bolder;
font-size:25px;
}

legend{
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Girassol', cursive;
  color:#fdfdfa ;
  
}
input {
  width: 350px;
  box-sizing: border-box;
  border: 4px solid rgb(24, 23, 23);
  border-radius: 0px;
  font-size: 25px;
  background-color: rgb(241, 231, 231);
  padding: 7px 10px 7px 10px;

}

#new{
  
  background-color: #d4c5c52d;
  color: rgb(243, 241, 241);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-right: 100px;
  font-family: 'Girassol', cursive;
  font-size: 25px;
  text-align: center;
  padding-bottom: 50px;
}


#new:hover{
  background-color: rgb(248, 248, 250);
 color:rgb(15, 15, 15);
 }

#button{

  margin-left: 0px;
  margin-right: 35px;
  padding-top: 50px;
}

body{
  width: 100%;
  margin: 0 auto ;
  padding: 10px;
  text-align: center;
 
  text-align: center;
  line-height: 4;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #e2910f;
   
    
 
}

header {background-color: #292927;
  height: 250px;
  margin-bottom: 30px;
  margin-top: 30px;
  }
header h1 { 
  font-weight: bolder;
  font-family: 'Girassol', cursive;
  color:#e6e6d5 ;
  font-size:60px;
  background-color:#383632;
  background-size: 30px 50px ;
  padding: 20px 20px ;
  text-align: center;
}



nav {
  width: 960px;
  margin: 0 auto;
  height: 70px;
}

nav img {
  float: left;
  /*margin-top: 15px;*/
  /*margin-bottom: 15px;
  //margin-right: 30px;*/
  /*margin-left: 20px;*/
  padding: 15px 15px;
 
}
nav li {
  
  float: left;
  margin-top: 40px;
  margin-right: 40px;
  color: #b8b3b3;
}






nav li a {
  color:#e6e6d5;
  font-weight: bolder;
  font-family: 'Girassol', cursive;
  text-decoration: underline;
  font-size: 30px;
  

}

#h2 {
  font-family: 'Girassol', cursive;
  font-weight: bolder;
  font-size: 40px;
  padding-top: 30px;
}

 .img1{
padding-top: 40px;
padding-bottom: 40px;

border-radius: 50%;

}
#p1 {
padding-right: 50px;
padding-left: 50px;
padding-top: 30px;
padding-bottom: 30px;
text-align: justify;
font-weight: bolder;
font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
background-image:url("https://image.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg") ;
overflow: scroll;
background-size: 1400px;

height:260px;
margin-bottom: 30px;
margin-left: 30px;
margin-right: 30px;

}

main .sec1{
    float:left;
    margin-left: 100px;
margin-right: 100px;
text-align: left;
background-color:#292927 ;

margin-top: 20px;
margin-bottom: 20px;

}


main .sec2{
  float:left;
  margin-left: 30px;
margin-right: 30px;
margin-top: 20px;
margin-bottom: 20px;
background-color:#292927 ;
}




main .sec1 h2 {
  font-family: 'Girassol', cursive;
 
  font-size: 30px;
  padding-top: 10px;
 text-align: center;
  color: ivory;
}



main .sec2 h2 {
  font-family: 'Girassol', cursive;
 text-align: center;
  font-size: 30px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: ivory;
  padding-bottom: 10px;
}

main .sec1 p {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: ivory;
  padding-top: 10px;
  
  padding-bottom: 10px;
  padding-left: 55px;
}
main .sec1 img {
    padding-bottom: 20px;
}

main .sec2 img {
  padding-bottom: 20px;
}
main .sec3{
 float: left;
margin-left: 415px;
margin-top: 30px;
background-color:#292927 ;
margin-bottom: 40px;
}



main .sec3 p{
  font-family: 'Girassol', cursive;
  text-align: center;
  font-size: 30px;
  color:  ivory;
  padding-top: 10px;
  padding-bottom: 10px;
}
button{
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  height: 50px;
  width: 180px;
padding-bottom: 10px ;
padding-top: 10px;


 
  transition-duration: 350ms;
  cursor: pointer;
  text-align: center;
  
}

button:hover{
 background-color: rgb(225, 225, 236);
color:black;
}

main .sec3 img {

  padding-top: 10px;
  
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 10px;
}


footer{
  
  clear: both;
  color:#e6e6d5 ;
  background-color:#383632 ;
height: 100px;;
margin-top:30px;
margin-bottom: 200px;
}

footer img {
    padding-top: 20px;
  float: left;
  margin-right: 20px;
}
footer ul {
  list-style-type: style circle;
  line-height: 2;
}


footer ul li {
    padding-top: 20px;
 font-family:  Arial, Helvetica, sans-serif;
  font-weight: bold;
color: white;
text-decoration: none;
text-align:left;
font-size:small;
}







